<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/header :: head"><</th:block>
</head>
<body>
<form action="#" th:action="@{/api/cloud-provider}" th:object="${cloudProvider}" method="post">
    <label for="Host">Name</label>
    <input type="text" th:field="*{host}" id="host" placeholder="Host">
    <label for="id">ID (organization)</label>
    <input type="text" th:field="*{id}" id="id" placeholder="ID">
    <label for="user">User name</label>
    <input type="text" th:field="*{user}" id="user" placeholder="User">
    <input type="submit" value="Add Cloud Provider">
</form>
</body>
</html>