<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/header :: head"><</th:block>
</head>

<body>
<div class="container">
    <form action="#" th:action="@{/GetCloudData}" method="get" th:object="${form}">
        <table class="table table-striped">
            <tr>
                <th>Provider ID</th>
                <th>Password</th>
            </tr>
            <tr th:each="provider, itemStat : *{providers}">
                <td th:text="*{providers[__${itemStat.index}__].id}"/>
                <td>
                    <input th:field="*{providers[__${itemStat.index}__].password}" type="password"/>
                </td>
            </tr>
        </table>
        <br>
        <button class="btn btn-primary" style="float: left" role="button">Get vCloud data</button>
        <br>
    </form>
    <form th:action="@{/home}" th:method="get">
        <button class="btn btn-secondary" style="float: right" role="button">Back</button>
    </form>
</div>

</body>
</html>
