<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/header :: head"><</th:block>
</head>

<body>
<div class="container">

    <table class="table table-striped">
    <tr>
        <th>Host</th>
        <th>ID</th>
        <th>User</th>
    </tr>
    <tr th:each="singleProvider : ${providers}">
        <td th:text="${singleProvider.getHost()}"/>
        <td th:text="${singleProvider.getId()}"/>
        <td th:text="${singleProvider.getUser()}"/>
        <td>
            <a class="btn btn-primary" th:href="@{/cloud-provider/delete/__(${singleProvider.getId()})__}" role="button">Delete</a>
        </td>
    </tr>
    </table>

    <br>
    <form th:action="@{/AddProvider}" th:method="get">
        <button class="btn btn-primary" style="float: left" role="button">Add vCloud Provider</button>
    </form>
    <br>
    <br>
    <form th:action="@{/home}" th:method="get">
        <button class="btn btn-secondary" style="float: right" role="button">Back</button>
    </form>
    <br>
</div>
</body>
</html>
